@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&family=Noto+Sans:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.flex-col {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navigation-bar {
    display: flex;
    gap: 20px;
    list-style-type: none;
    position: absolute;
    transform: translateX(-50%);
    left: 55%;
    top: 29px;
    width: 508px;
    height: 23px;
}

.navigation-bar li a {
    text-decoration: none;
    color: black;
}

.navigation-bar li a:hover {
  color: rgb(255, 0, 0); /* Warna jingga saat dihover */
}

.basket-profile {
    display: flex;
    gap: 10px;
    list-style-type: none;
    position: absolute;
    right: 20px;
    top: 20px;
}

.rectangle-1 {
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 0px;
    background: #FCE22A;
}

.ellipse-1 {
    position: absolute;
    width: 600px;
    height: 471px;
    left: 63%;
    top: -220px;
    border-radius: 100%;
    background: #FFFFFF;
    transform: rotate(-37.71deg) translateX(-50%);
}
/* Logo-Title */
.maskot-ebonam{
  position: absolute;
  width: 43px;
  height: 58px;
  left: 37px;
  top: 12px;
}
    .bc{
      position: absolute;
      width: 174px;
      height: 22px;
      left: 92px;
      top: 21px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }
    .bussinnes-center{
      position: absolute;
      width: 174px;
      height: 22px;
      left: 92px;
      top: 48px;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
.kantin-sekolah{
  position: absolute;
  width: 295px;
  height: 116px;
  left: 83px;
  top: 156px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

/* ORDER SEKARANG */
button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: #E73535;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
  left: 83px;
  top: 325px;
}
button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid #E73535;
}
button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}
button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #E73535;
}
button:hover {
  color: white;
}
button:active span::before {
  background: #E73535;
}

/* Cemilan */
.tea-splash{
  position: absolute;
  width: 450px;
  height: 353px;
  left: 750px;
  top: 74px;
}
.fruittea{ 
  position: absolute;
  width: 308px;
  height: 308px;
  left: 816px;
  top: 60.33px;
}
.beng-beng{
  position: absolute;
  width: 306.83px;
  height: 306.83px;
  left: 650px;
  top: 120px;
  transform: rotate(38.89deg);
}
.lays-banner{
  position: absolute;
  width: 225.92px;
  height: 306.87px;
  left: 1079.05px;
  top: 47px;
  transform: rotate(16.87deg);
}

/* Jajan */
.jajan{
  position: absolute;
  width: 295px;
  height: 39px;
  left: 75px;
  top: 582px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.jajan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 45%; /* Sesuaikan margin-top dengan tinggi banner Anda */
}

.jajan-group {
    position: relative;
    margin-right: 30px;
    margin-bottom: 20px; /* Tambahkan margin-bottom agar kartu tidak saling berdempetan */
    width: 209px; /* Atur lebar kartu */
    height: 155px; /* Atur tinggi kartu */
    left: 75px;
    bottom: 80px;
}

.cemilan-filter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    width: 93px;
    height: 93px;
    left: -2px;
    top: 75px;
}

.cemilan-title {
    position: absolute;
    width: 110px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    z-index: 2;
    bottom: -30px;
    left: 20;
    right: 0;
    margin: 50px auto; /* Tengahkan tulisan */
}

.rectangle-2 {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 62px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 50px 35px 150px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 0;
    bottom: 0;
}

/* Produk */
.produk-title{
  position: absolute;
  width: 295px;
  height: 39px;
  left: 75px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
/* Card Code */
.container{
  position: relative;
  width: 1150px;
  display: flex;
  padding: 20px;
}
.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* Image specsification */
      .beng2{
          width: 100%;
      }
      .lays{
          width: 80%;
          position: static;
          padding-left: 62px;
      }
      .prut-ti{
          width: 88%;
          position: static;
          padding-left: 15px;   
      }

 
.container .card{
  position: relative;
  width: 300px;
  height: 420px;
  border-radius: 10px;
  box-shadow: 0px 15px 25px rgba(0,0,0,.2);
  background-color: #fff;
  margin: 20px;
  overflow: hidden;
  transition: .5s;
}

 
.container:hover .card{
  transform: scale(0.9);
  opacity: 0.5;
} 
 
.container .card:hover{
  transform: scale(1.1);
  opacity: 1;
} 
 
.container .card .circle{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
}
 
 
.container .card .content{
  position: absolute;
  bottom: 10px;
  page-break-after: 20px;
  padding: 20px;
}
.harga{
  text-align: start;
  font-weight: 700;
}
 
.container .card .content p{
  color: #666;
  text-align: justify;
  font-size: 26px;
}
 
.container .card .content a{
  position: relative;
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 40px;
  margin-top: 20px;
  text-decoration: none;
}
.beli-btn{
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 14px 36px;
    border-radius: 50px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 250px;
    box-sizing: border-box;
}
 
.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a{
  background-color: #E73535;
}
 
.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a{
  background-color: #ccec17;
}
 
.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a{
  background-color: #bb02ff;
}

/* Footer */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #FCE22A;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 700;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col p{
	color:black;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 0, 0, 0.849);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: rgba(255, 0, 0, 0.849);
	background-color: #ffffff;
}

.maskot-ebonam-foot{
  position: absolute;
  width: 43px;
  height: 58px;
  left: 950px;
  top: 25px;
}
.bc-foot{
  position: absolute;
  width: 174px;
  height: 22px;
  left: 1000px;
  top: 39px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.bussinnes-center-foot{
  position: absolute;
  width: 174px;
  height: 22px;
  left: 1000px;
  top: 66px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}


.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/*responsive*/
@media(max-width: 767px){
  .navigation-bar,
  .basket-profile{
    display: none;
  }
  .rectangle-1 {
    position: absolute;
    width: 767px;
    height: 840px;
    left: 0px;
    top: 0px;
    background: #FCE22A;
  }
  .kantin-sekolah{
    position: absolute;
    width: 295px;
    height: 116px;
    left: 230px;
    top: 401px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  
  /* ORDER SEKARANG */
  button {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #E73535;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    left: 256px;
    top: 570px;
  }
  button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #E73535;
  }
  button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }
  button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #E73535;
  }
  button:hover {
    color: white;
  }
  button:active span::before {
    background: #E73535;
  }

  /* Cemilan */
.tea-splash{
  position: absolute;
  width: 450px;
  height: 353px;
  left: 200px;
  top: 72px;
}
.fruittea{ 
  position: absolute;
  width: 308px;
  height: 308px;
  left: 230px;
  top: 60.33px;
}
.beng-beng{
  position: absolute;
  width: 306.83px;
  height: 306.83px;
  left: 78px;
  top: 120px;
  transform: rotate(38.89deg);
}
.lays-banner{
  position: absolute;
  width: 225.92px;
  height: 306.87px;
  left: 446.66px;
  top: 120px;
  transform: rotate(16.87deg);
}
/* Jajan */
.jajan{
  display: none;
  position: absolute;
  width: 295px;
  height: 39px;
  left: 75px;
  top: 1082px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
.jajan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 45%; /* Sesuaikan margin-top dengan tinggi banner Anda */
}
.jajan-group {
    position: relative;
    margin-right: 30px;
    margin-bottom: 20px; /* Tambahkan margin-bottom agar kartu tidak saling berdempetan */
    width: 209px; /* Atur lebar kartu */
    height: 155px; /* Atur tinggi kartu */
    left: 75px;
    top: 400px;
}

/* Card Code */
.container{
  position: relative;
  display: flex;
  padding: 20px;
}
.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container .card{
  position: relative;
  width: 300px;
  height: 420px;
  border-radius: 10px;
  box-shadow: 0px 15px 25px rgba(0,0,0,.2);
  background-color: #fff;
  margin: 20px;
  overflow: hidden;
  transition: .5s;
}


  




  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
  .maskot-ebonam-foot{
    position: absolute;
    width: 43px;
    height: 58px;
    left: 950px;
    top: 25px;
  }
  .logo-title-footer{
    position: absolute;
    width: 229px;
    height: 58px;
    right: 700px;
    top: 299px;
    
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}